<html>
	<head>
		<title>CageMe: A Wondrous World of Nic Cage Images</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700' rel='stylesheet' type='text/css'>
	</head>
	
	<body class="container_12">
		
			<div id="content">
				<div class="grid_6 left">
					<h1>Behold, the Cage!</h1>
					<p>You have found yourself at the foot of something great. And that something is Nicolas Cage.</p>  
					<p>The Cage is in all of us; everyone, and everything.  Discover <a href="/random">the truth</a> for yourself.</p>
					<p class="footer">
						Written with <a href="http://www.sinatrarb.com/">Sinatra</a> and <a href="http://rmagick.rubyforge.org/">RMagick</a><br />
						Inspired by the pages and code of <a href="http://placekitten.com/">placekitten</a> and <a href="http://placedog.com/">PlaceDog</a><br />
						All images from <a href="http://niccageaseveryone.blogspot.com/">NicCageAsEveryone</a> or <a href="http://knowyourmeme.com/memes/nic-cage-as-everyone/photos">KnowYourMeme</a>
						</p>
				</div>
			
				<div class="grid_6 right">
					<div id="cagePic">
						<img class="portrait" src="css/mrcage.jpg" />
					</div>
					Mr. Nicolas Cage
				</div>
			</div>
		
	</body>
</html>